.inventario-container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.inv-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

.inv-table table {
    width: 100%;
    height: 100%;
}
.inv-table th,
.inv-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: calc(100% / 3);
}

.confirm-inv-button{
    width: 70px;
    height: 45px;
    background-color: #d9bbbb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.inv-bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: #7c1515;
    flex-direction: column;
    position: relative;
}

.inv-bottom-container button {
    width: 100px;
    height: 55px;
    top: 0 ;
    left: 0 ;
    position: absolute;
}