.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-login{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.footer-login{
    font-size: 14px;
    color: #000;
    margin-top: 20px;
}